{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        {% for key, value in search_logs.items %}
            <p>{{ key }} {{ value }}</p>
        {% endfor %}
    </div>
{% endblock content %}