{% extends "index.html" %}

{% block content %}
    {#    <form>#}
    {#          <label for="first_name">First name:</label><br>#}
    {#          <input type="text" name="first_name"><br>#}
    {##}
    {#          <label for="last_name">Last name:</label><br>#}
    {#          <input type="text" name="last_name"><br><br>#}
    {##}
    {#          <label for="search_text">Search text:</label><br>#}
    {#          <input type="text" name="search_text"><br><br>#}
    {##}
    {#          <button type="submit" value="Submit">Submit</button>#}
    {#</form>#}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Grade</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for student in students %}
            <tr>
                <th scope="row">{{ student.pk }}</th>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                {% if student.birth_date %}
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Undefined</td>
                    <td>Undefined</td>
                {% endif %}
                <td>{{ student.grade }}</td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'students:update_student' student.pk %}">Edit</a>
                </td>
                <td><a type="button" class="btn btn-danger"
                       href="{% url 'students:delete_student' student.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}